.acf.contentType {
  .container {
    max-width: min(75%, 1105px);
    padding: 0;

    @media (max-width: 767px) {
      max-width: 95%;
    }
  }

  h3 {
    font-size: 2.4rem;
    font-family: 'Exo', sans-serif;
    margin-bottom: 2.1rem;
  }

  article {
    font-size: var(--text-font-size);
    font-weight: 300;
    line-height: 1.3;

    p:not(:last-of-type) {
      margin-bottom: 1em;
    }

    img {
      width: 100%;
      margin-block: calc(5.1rem - 2em);
    }

    p {
      margin-left: 2.5em;

      @media (max-width: 500px) {
        margin-left: 0;
      }
    }
  }

  .yellow-background {
    background: #fcd647;
    padding-block: 7rem 3.5rem;
    padding-inline: 4.5rem;
    position: relative;
    margin-top: 9.9rem;

    @media (max-width: 750px) {
      padding-inline: 2.5rem;
    }

    .image-background {
      background: black;
      border-radius: 20px;
      width: 106px;
      height: 106px;
      transform: rotate(45deg);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -5rem;
      left: 0;
      right: 0;
      margin-inline: auto;
    }

    img {
      transform: rotate(-45deg);
    }

    h3 {
      color: #e3775b;
    }

    p:not(:first-of-type) {
      margin-top: 1em;
    }
  }
}

.image-under {
  margin-top: 5.7rem;
}

.text-under {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 85px 1fr;
  gap: 1.6rem;
  align-items: center;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
  }

  .text-under-content {
    font-size: var(--text-font-size);
    font-weight: 700;
  }

  .picto {
    width: 85px;
    height: 85px;
    background: #e3775b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 9.8rem;
    line-height: 0;
  }
}

.yellow-background__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: flex-start;
  gap: 3.6rem;
  margin-bottom: 9.1rem;

  @media (max-width: 1200px) {
    gap: 0.9rem;
  }

  @media (max-width: 789px) {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1.7rem;
  }
}

.texte_plus {
  display: grid;
  grid-template-columns: 85px 1fr;
  place-items: center;
  gap: 1.6rem;
  font-size: var(--text-font-size);
  font-weight: 700;

  span {
    background: #e3775b;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    color: white;
    font-size: 9.8rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.acf__content__link-type {
  background: transparent;
  border: 5px solid black;
  color: black;
  font-weight: 700;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-size: var(--text-font-size);
  padding: 2.5rem 3.3rem;
  display: flow-root;
  width: fit-content;
  transition: 0.2s ease-in-out;
  position: relative;
  margin: 2.9rem 0 6.3rem auto;

  @media (max-width: 500px) {
    padding: 1.9rem 2rem;
    font-size: var(--text-font-size);
    margin-left: 0;
  }

  svg {
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: 5px;
    right: -33px;
    z-index: -1;
    transition: 0.2s ease-in-out;

    g {
      fill: #e3775b;
    }
  }

  &:hover {
    background: black;
    color: white;

    svg {
      transform: translate(12px);
    }
  }
}

.contact-banner + .sliderType {
  margin-top: 0 !important;
}
