.sliderType + .background-image {
  margin-block: -6.5rem 6.2rem;

}
.acf.contentType + .background-image {
  margin-top: 6.8rem;
}

.background-image {
  margin-block: -3.5rem -6.5rem;
  color: white;
  padding-block: 6.9rem;
  position: relative;
  overflow: hidden;
  
  h3:first-of-type {
    margin-bottom: 2.1rem;
  }

  .hidden-wave {
    display: none;
  }

  .wave {
    position: absolute;
    right: 0;
    bottom: 15rem;
    transform: rotate(180deg);


    @media (max-width: 1200px) {
      display: none;
    }
  }

  .main-title {
    margin-bottom: 3.5rem;

    @media (max-width: 850px) {
      text-align: left;
    }
  }

  p,
  h3:not(:first-of-type) {
    margin-left: 4rem;

    @media (max-width: 745px) {
      margin-left: 0;
    }
  }

  p {
    font-weight: 300;
  }

  p:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  .container {
    max-width: 63%;

    @media (max-width: 1200px) {
      max-width: 86%;
    }

    @media (max-width: 800px) {
      max-width: 100%;
    }
  }

 .container.colonne-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    max-width: 60%;

   @media (max-width: 1200px) {
     max-width: 80%;
   }

   @media (max-width: 850px) {
     max-width: 95%;
     align-items: start;
   }

    a {
      align-self: end;
      background: transparent;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      color: white;
      text-transform: uppercase;
      font-size: 2.1rem;
      font-family: "Cabin", sans-serif;
      
      &:hover {
        color: black;
      }
      
      &::after {
        border-color: white;
      }

      span {
        font-weight: 700;
      }

      &:hover {
        background: white;

        span {
            background: linear-gradient(79deg, #ff5e80 0%, #8570cc 100%) 0% 0%
            no-repeat;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5.3rem;
    font-weight: 300;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 9rem;

      li:last-of-type {
        grid-column: 1 / 3;
        width: 50%;
        justify-self: center;
      }
    }

    @media (max-width: 850px) {
      grid-template-columns: 1fr;
      justify-items: flex-start;
      align-items: flex-start;

      li:last-of-type {
        grid-column: 1;
        width: 100%;
      }
    }

    h3 {
      color: #E3775B;
      margin-bottom: 0.8rem;
      display: grid;
      grid-template-columns: 56px 1fr;
      align-items: center;
      gap: 1.4rem;
    }

    p {
      margin: 0;
      font-size: 1.8rem;

      &:not(:last-of-type) {
        margin-bottom: 1em;
      }
    }

    .img {
      background: white;
      width: 56px;
      height: 56px;
      display: flex;
      justify-content:center;
      align-items:center;
      border-radius: 50%;
    }
  }

}
