.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 622px;
  width: calc(100% - 88px);
  margin-top: 44px;
  margin-inline: auto;

  @media (max-width: 750px) {
    width: calc(100% - 22px);
  }

  .vague {
    width: 67px;
    height: 29px;
    margin-block: 40px 25px;

    svg {
      width: 100%;
      height: 100%;
      transform: rotate(180deg);
    }
  }

  h1 {
    font-size: calc(40px + (54 - 40) * ((100vw - 320px) / (1920 - 320)));
    line-height: 4.5rem;
    font-weight: 700;
    font-family: "Cabin", sans-serif;
    text-align: center;
    
    @media (max-width: 500px) {
      max-width: 90%;
      margin-inline: auto;
    }
  }

  .sub-title {
    margin-top: 1em;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    font-style: italic;
    color: white;
    
    @media (max-width: 500px) {
      max-width: 95%;
      margin-inline: auto;
    }
  }
}
