.contact-banner {
  width: 100%;
  background: linear-gradient(79deg, #ff5e80 0%, #8570cc 100%) 0% 0% no-repeat;
  padding-block: 7.8rem;
  color: white;

  h2 {
    text-align: left !important;
    line-height: 1.3 !important;
    padding: 0;
    margin: 0;

    @media (max-width: 768px) {
      text-align: center !important;
    }
  }

  .left {
    max-width: 499px;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    gap: 1.9rem;

    @media (max-width: 768px) {
      justify-self: center;
      max-width: 100%;
      text-align: center;
    }
  }

  p {
    font-size: 1.8rem;
    font-weight: 300;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 13.2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      max-width: 85%;
      margin-inline: auto;
      gap: 3.4rem;
    }

    a {
      text-decoration: none;
      justify-self: flex-start;
      border: 1px solid white;
      color: white;
      border-radius: 2px;
      padding: 3.2rem 5rem;
      font-weight: 700;
      font-size: 3.3rem;
      font-family: "Cabin", sans-serif;
      transition: 0.3s;

      @media (max-width: 768px) {
        justify-self: center;
        text-align: center;
      }

      &:hover {
        background: white;

        span {
          background: linear-gradient(79deg, #ff5e80 0%, #8570cc 100%) 0% 0%
            no-repeat;
          background-clip: text;
          text-fill-color: transparent;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
