footer {
  background: #041624;
  color: white;
}

.informations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 7rem 4rem;
  height: 60px;
  font-family: "Cabin", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;

  @media (max-width: 941px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem 3rem;
    padding-inline: 2.5rem;
    gap: 3rem;
    height: auto;

    .left strong {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;

    @media (max-width: 941px) {
      gap: 4rem;
    }

    li {
      height: 40px;
      width: 40px;
    }

    a {
      width: 40px;
      height: 40px;
      margin-inline: 0.2rem;
      display: inline-block;
    }

    img {
      transition: 0.5s ease-in-out;
      filter: brightness(5);
      width: 100%;
      height: 100%;
    }

    a:hover img {
      filter: brightness(1);
    }
  }
}
