.front-skills {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  .agence {
    position: relative;

    @media (max-width: 1200px) {
      width: 700px;
      margin-inline: auto;
    }
    @media (max-width: 768px) {
      width: calc(100% - 24px);
    }
  }

  .wave-yellow {
    width: 188px;
    height: 32px;
    transform: rotate(270deg);
    position: absolute;
    bottom: 8em;
    right: -3em;

    @media (max-width: 1200px) {
      transform: rotate(90deg);
      bottom: 12em;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  .container-narrow {
    margin-top: 5.5rem;
    width: 335px;
    margin-right: 125px;

    @media (max-width: 1200px) {
      width: 350px;
      position: relative;
      z-index: 10;
      background: white;
      padding-block: 0.5rem 4.5rem;
      padding-inline: 1rem;
    }
    @media (max-width: 768px) {
      width: 100%;
      padding-inline: 0;
    }
  }

  .btn-primary {
    margin-top: 3rem;
    margin-left: -16.5rem;

    @media (max-width: 1431px) {
      margin-left: 0;
    }
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }

  h2 {
    font-size: 5.6rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Cabin", sans-serif;
    background: white;
    padding: 0.5rem 0 3rem 0.5rem;
    line-height: 0.8;
    white-space: nowrap;
    position: relative;
    z-index: 4;
    width: 500px;
    display: inline-block;

    &::after {
      content: "";
      display: inline-block;
      background: black;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 3.5rem;
      margin-left: 0.5rem;
    }

    @media (max-width: 768px) {
      font-size: 3.3rem;
      width: 100%;
    }
  }

  .desc {
    font-size: 2.1rem;
    font-weight: 300;

    @media (max-width: 1200px) {
      font-size: 1.9rem;
    }
    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  .skills {
    background: url("/ce-que-lon-fait.jpg");
    background-size: cover;
    box-shadow: 13px 13px 13px 0 rgba(112, 94, 41, 0.46);
    width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1200px) {
      width: calc(100% - 30px);
      align-self: flex-end;
      margin-top: -7.5rem;
      position: relative;
      padding-block: 8rem 5rem;
      padding-block: 5;
    }
    @media (max-width: 768px) {
      margin-top: 0;
      padding-block: 5rem;
      width: calc(100% - 24px);
      margin-inline: auto;
      box-shadow: none;
    }

    ul {
      padding-inline: 3rem;
      padding-block: 5rem 13rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: flex-start;
      gap: 6rem;
      list-style: none;

      @media (max-width: 1500px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 820px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      text-align: center;

      p {
        font-size: 1.6rem;
        font-weight: 300;
      }

      h3 {
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 600;
        font-family: "Cabin", sans-serif;
      }
    }
  }
}
