#blog .hero-banner {
  background: #f9eee1;
  padding-block: 2.8rem 5.5rem;

  h1 {
    font-size: 2.9rem;
    background: black;
    border-radius: 3.7rem;
    font-weight: 700;
    color: white;
    padding: 1.5rem 2rem;
    margin-bottom: 2.3rem;
    margin-inline: auto;
    text-align: center;
    width: fit-content;

    @media (max-width: 467px) {
      font-size: 2.2rem;
    }
  }

  .articles-container-recommended {
    background: white;
    padding: 4.2rem 3.1rem;
  }

  .all-articles__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    @media (max-width: 800px) {
      justify-content: center;
    }
  }

  .all-articles {
    padding: 1.5rem 2rem;
    display: inline-block;
    display: flow-root;
    width: fit-content;
    margin-top: 2.3rem;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 3.7rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    border: 2px solid black;
    transition: 0.2s ease-in-out;

    &:hover {
      background: white;
      color: black;
    }
  }
}
