#ville {
  h2 {
    font-size: 5.6rem;
    text-align: center;
    font-family: "Cabin", sans-serif;

    @media (max-width: 986px) {
      font-size: 3.6rem;
    }
  }

  h4 {
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    &::after {
      content: "";
      background: url("/vague-degrade.svg") no-repeat center;
      width: 63.24px;
      height: 12.2px;
      margin-bottom: 2.3rem;
    }
  }

  .content {
    font-size: 2.1rem;
    line-height: 1.2;
    font-family: "Exo", sans-serif;

    p:not(:first-of-type) {
      margin-top: 2rem;
    }

    @media (max-width: 1200px) {
      font-size: 1.8rem;
    }
  }

  .gardens .container {
    position: relative;
    margin-top: 5.1rem;

    @media (max-width: 996px) {
      img {
        width: 100%;
        height: auto;
      }
    }

    .text {
      position: absolute;
      width: fit-content;
      height: fit-content;
      background: white;
      padding: 2.6rem 5.4rem 7.2rem 3.7rem;
      max-width: 860px;
      left: 586px;
      top: 104px;

      @media (max-width: 1440px) {
        left: 386px;
      }

      @media (max-width: 1200px) {
        max-width: 660px;
      }

      @media (max-width: 996px) {
        position: relative;
        z-index: 3;
        left: unset;
        top: unset;
        margin-top: -28rem;
      }

      @media (max-width: 770px) {
        max-width: 95%;
        margin-top: -5rem;
        padding-inline: 1rem;
        padding-bottom: 0;
        margin-inline: auto;
      }
    }

    h2 {
      position: absolute;
      width: fit-content;
      height: fit-content;
      background: black;
      color: white;
      font-size: 5.6rem;
      font-family: "Cabin", sans-serif;
      padding: 0.5rem 1rem 2rem 1rem;
      max-width: 951px;
      left: 134px;
      bottom: -71px;
      line-height: 1.2;

      @media (max-width: 1200px) {
        font-size: 3.6rem;
        max-width: 660px;
        bottom: 0;
      }

      @media (max-width: 996px) {
        z-index: 4;
        bottom: -50px;
      }

      @media (max-width: 770px) {
        position: relative;
        bottom: unset;
        left: unset;
        max-width: 100%;
        bottom: -5rem;
      }
    }
  }

  .yellow-background {
    background: #fcd647;
    padding-block: 13.2rem 8.1rem;
    padding-inline: 25.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1462px) {
      padding-inline: 10rem;
    }

    @media (max-width: 1200px) {
      padding-inline: 2rem;
    }

    @media (max-width: 750px) {
      padding-bottom: 14rem;
    }

    h2 {
      font-size: 5.6rem;
      text-align: center;
      font-family: "Cabin", sans-serif;
      margin-bottom: 5.8rem;

      @media (max-width: 986px) {
        font-size: 3.6rem;
      }
    }

    .description {
      text-align: center;
      font-size: 2.1rem;
      width: 100%;

      @media (max-width: 986px) {
        font-size: 1.8rem;
      }

      @media (max-width: 850px) {
        text-align: left;
      }
    }

    .conseils {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: start;
      font-size: 2.1rem;
      margin-top: 5.7rem;
      column-gap: 3.6rem;
      row-gap: 14.6rem;

      @media (max-width: 986px) {
        font-size: 1.8rem;
        row-gap: 5rem;
      }

      @media (max-width: 750px) {
        grid-template-columns: 1fr;
      }

      div:last-child {
        grid-column: 2;

        @media (max-width: 750px) {
          grid-column: 1;
        }
      }
    }
  }

  .road {
    padding-inline: 25.1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: start;
    margin-top: 6.6rem;
    column-gap: 3.6rem;
    row-gap: 14.6rem;
    position: relative;

    @media (max-width: 1462px) {
      padding-inline: 10rem;
    }

    @media (max-width: 1200px) {
      padding-inline: 2rem;
    }

    @media (max-width: 750px) {
      grid-template-columns: 1fr;
      margin-top: 0;
      row-gap: 0;
    }

    &::after {
      content: "";
      background: url("/vague-degrade.svg") no-repeat center;
      background-size: cover;
      position: absolute;
      width: 16%;
      height: 7.2%;
      bottom: 37%;
      left: 33%;

      @media (max-width: 1476px) {
        background-size: contain;
        bottom: 55%;
        left: 32.5%;
      }

      @media (max-width: 750px) {
        bottom: 435px;
        left: 0;
        right: 0;
        margin-inline: auto;
      }

      @media (max-width: 695px) {
        bottom: 465px;
      }

      @media (max-width: 624px) {
        display: none;
      }
    }

    img {
      position: relative;
      min-width: 112%;
      min-height: 112%;
      display: block;

      top: -57rem;
      left: -14.5%;

      @media (max-width: 750px) {
        min-width: 100%;
        min-height: auto;
        left: 0;
        top: -5rem;
      }

      @media (max-width: 750px) {
        top: -10rem;
      }
    }

    h2 {
      text-align: left;
      margin-bottom: 5.4rem;
    }
  }

  .communication-digitale {
    @media (max-width: 1702px) {
      margin-top: 14.2rem;
    }

    @media (max-width: 1000px) {
      margin-top: 5rem;
    }

    h2 {
      text-align: left;
      margin-bottom: 5.4rem;
    }

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5.5rem;
      row-gap: 15.4rem;
      max-width: 85%;
      margin-inline: auto;

      @media (max-width: 1142px) {
        max-width: 95%;
      }

      @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        row-gap: 5rem;
      }

      .txt:first-of-type {
        grid-row: 1 / 3;

        h4:nth-of-type(2) {
          margin-top: 15.4rem;

          @media (max-width: 1000px) {
            margin-top: 5rem;
          }
        }
      }

      img {
        grid-column: 2;
        grid-row: 2;
        position: relative;
        margin-top: -6rem;
        right: -10rem;

        @media (max-width: 1446px) {
          right: -6rem;
        }

        @media (max-width: 1330px) {
          margin-top: 0;
          right: 0;
          position: initial;
        }

        @media (max-width: 1000px) {
          grid-column: auto;
          grid-row: auto;
          justify-self: center;
        }
      }
    }
  }

  .fond-gris {
    margin-top: 13rem;
    background: #f3f3f3;
    padding-block: 7.3rem 10rem;

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5.5rem;
      max-width: 75%;
      margin-inline: auto;

      @media (max-width: 1450px) {
        max-width: 90%;
      }

      @media (max-width: 1000px) {
        grid-template-columns: 1fr;
      }
    }

    h4 {
      font-size: 2.1rem;
      text-transform: uppercase;

      &::after {
        content: "";
        background: url("/vague-degrade.svg") no-repeat center;
        width: 63.24px;
        height: 12.2px;
        margin-bottom: 2.3rem;
      }
    }

    h2 {
      margin-bottom: 7.3rem;
    }
  }

  .bottom-yellow {
    background: #fcd647;
    padding-block: 7.1rem 7.8rem;
    margin-bottom: 9.9rem;

    h2 {
      background: black;
      color: white;
      max-width: 60%;
      text-align: center;
      margin-inline: auto;
      padding: 1rem;
      line-height: 1.3;
      margin-bottom: 12.4rem;

      @media (max-width: 1396px) {
        max-width: 80%;
      }
    }

    .white-background {
      background: white;
      padding-inline: 3.7rem;
      padding-block: 4rem;
      max-width: 83%;
      margin-inline: auto;
      min-height: 771px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 11.8rem;
      position: relative;

      @media (max-width: 1396px) {
        max-width: 95%;
      }

      @media (max-width: 1204px) {
        gap: 2rem;
      }

      @media (max-width: 1106px) {
        grid-template-columns: 1fr;
        gap: 11.8rem;
        max-width: 90%;
      }
    }

    h4 {
      margin-bottom: 2em;

      &::after {
        display: none;
      }
    }

    .dashed-horizontal {
      position: absolute;
      height: 1px;
      border: 1px dashed #707070;
      width: 110%;
      bottom: 3em;
      left: -5%;

      @media (max-width: 1247px) {
        bottom: 1em;
      }

      @media (max-width: 1106px) {
        bottom: 0;
        top: 0;
        margin-block: auto;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: 95%;
      }

      @media (max-width: 660px) {
        top: -10%;
      }
    }

    .dashed-vertical {
      position: absolute;
      height: 110%;
      border: 1px dashed #707070;
      width: 1px;
      top: -5%;
      left: 0;
      right: 0;
      margin-inline: auto;

      @media (max-width: 1106px) {
        display: none;
      }
    }
  }
}
