.recommended-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: flex-start;
  column-gap: 3.7rem;
  row-gap: 7.2rem;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
}

h2 {
  font-size: 5.3rem;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  padding: 0.5rem 0 3rem 0.5rem;
  line-height: 0.8;

  span {
    color: #fcd647;
  }

  @media (max-width: 1200px) {
    br {
      display: none;
    }
  }

  @media (max-width: 467px) {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card-content {
  a {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    margin-block: 1.5rem 1rem;
    font-weight: 600;
    font-family: "Cabin", sans-serif;
    display: flow-root;
    line-height: 1;
    transition: 0.2s ease-in-out;

    &:hover {
      text-decoration: underline;
    }

    img {
      @media (max-width: 1200px) {
        width: 100%;
      }
    }
  }

  .post-cateogry {
    font-size: 1.8rem;
    line-height: calc(24 / 18);
    font-family: "Exo", sans-serif;
    color: #fc5e82;
    margin-bottom: 1rem;
    font-weight: 300;
    margin-top: 3rem;
  }

  .card-excerpt {
    line-height: calc(21 / 16);
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .card-date {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    line-height: calc(20 / 15);
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color: #b4b4b4;
  }
}

.mostRead {
  padding-block: 4.2rem;

  .recommended-items {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.9rem;

    @media (max-width: 1199px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

#blog {
  margin-top: 0;
}

#blog .guides {
  margin-bottom: 5.2rem;

  .blog-container {
    background: black;
    color: white;
    padding: 5rem 4.3rem 6.1rem 6.9rem;
  }

  .recommended-items {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.7rem;
    row-gap: 6.8rem;
    align-items: flex-start;

    @media (max-width: 850px) {
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
    }
  }

  .post-cateogry {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    color: #fff;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    margin-block-start: 0;
  }

  h2 {
    font-size: 5.3rem;

    @media (max-width: 799px) {
      font-size: 3rem;
    }
  }

  .post-content {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 2.5rem;

    @media (max-width: 850px) {
      display: flex;
      flex-direction: column;
    }

    a {
      color: white;
    }
  }

  .guides-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    @media (max-width: 799px) {
      justify-content: center;
    }

    a {
      padding: 15px 20px;
      display: inline-block;
      margin-block-start: 23px;
      background-color: #fff;
      color: #000;
      border-radius: 37px;
      font-size: 18px;
      font-weight: 700;
      font-family: "Exo", sans-serif;
      text-decoration: none;
      border: 2px solid #fff;
      transition: 0.2s ease-in-out;

      &:hover {
        background: black;
        color: white;
      }
    }
  }
}

#blog .hero-banner.filtered-hero {
  h1 {
    text-align: left;
    margin-inline: 0;
  }
}

.posts.filtered-posts {
  .blog-container {
    background: white;
    padding: 3.1rem;
    margin-top: -7rem;
    position: relative;
  }

  .wave {
    position: absolute;
    left: calc(100% - 89px);
    top: 36px;

    @media (max-width: 999px) {
      width: 188px;
      height: 36px;
      left: calc(85% - 89px);
      top: 36px;
    }

    @media (max-width: 799px) {
      width: 89px;
      height: 18px;
      left: calc(100% - 100px);
      top: 16px;
    }
  }
}
