#contact-page {
  .top .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4.6rem;

    @media (max-width: 1329px) {
      gap: 3rem;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .main-img {
    width: calc(339px + (445 - 339) * ((100vw - 320px) / (1920 - 320)));
    height: calc(305px + (608 - 305) * ((100vw - 320px) / (1920 - 320)));
    object-fit: cover;
  }

  .txt {
    max-width: 538px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    align-self: flex-end;
    margin-top: 10rem;

    @media (max-width: 1329px) {
      gap: 2rem;
      margin-top: 5rem;
    }

    @media (max-width: 767px) {
      margin-top: 0;
      align-self: center;
    }

    img {
      transform: rotate(180deg);
      width: calc(90.11px + (188 - 90.11) * ((100vw - 320px) / (1920 - 320)));
      height: calc(
        17.38px + (36.27 - 17.38) * ((100vw - 320px) / (1920 - 320))
      );
    }

    h1 {
      font-size: calc(32px + (56 - 32) * ((100vw - 320px) / (1920 - 320)));
      font-family: "Exo", sans-serif;
      line-height: 1.3;
    }

    div {
      font-size: 1.8rem;
      font-weight: 300;
      font-family: "Exo", sans-serif;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }

  .gray {
    background: #fcfcfc;
    padding-block: 4.5rem 12rem;

    .container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 5.3rem;

      @media (max-width: 1329px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 7.4rem;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    .yellow-form {
      background: #fcd647;
      padding: 2.7rem 3.1rem;
      display: flex;
      flex-direction: column;
    }

    label {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2.9rem;
    }

    input {
      width: 100%;
      background: transparent;
      font-weight: 700;
      border: none;
      border-bottom: 1px solid black;
      margin-block: 2rem 1rem;
      font-size: 2rem;

      &.error-field {
        color: red;
        border-bottom: 2px solid red;
      }
    }

    textarea {
      background: transparent;
      border: 1px solid black;
      margin-block: 2rem 1rem;
      border-radius: 17px;
      min-height: 197px;

      &.error-field {
        color: red;
        border: 2px solid red;
      }
    }

    button {
      color: black;
      font-family: "Cabin", sans-serif;
      text-transform: uppercase;
      padding: 2.5rem 3.3rem;
      transition: 0.1s ease-in-out;
      position: relative;
      font-size: 2.1rem;
      font-weight: 700;
      border: none;
      background: transparent;
      width: fit-content;
      align-self: flex-end;
      margin-right: 1em;

      svg {
        position: absolute;
        width: 44px;
        height: 44px;
        bottom: 0;
        right: -25px;
        transition: 0.1s;
        z-index: 1;

        g {
          fill: #e3775b;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        border: 5px solid black;
      }

      &:hover {
        color: white;
        background: black;

        svg {
          transform: translateX(12px);
        }
      }
    }

    .error {
      color: red;
    }

    .form-container {
      max-width: min(568px, 100%);
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 5rem;
      gap: 1.6rem;

      h3 {
        text-align: start;
      }

      img {
        position: absolute;
        bottom: 18em;
        left: -10em;
        transform: rotate(270deg);

        @media (max-width: 1329px) {
          display: none;
        }
      }
    }

    address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 402px;

      @media (max-width: 1329px) {
        max-width: 100%;
        width: 100%;
      }
    }

    h3 {
      font-size: 2.4rem;
      text-align: center;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    ul {
      background: #011824;
      color: white;
      margin-top: 1.5rem;
      padding-block: 2.6rem 5rem;
      width: 402px;
      display: flex;
      flex-direction: column;
      gap: 3.9rem;
      padding-inline: 2rem;

      @media (max-width: 1329px) {
        width: 100%;
        flex-direction: row;
        gap: 10rem;
        justify-content: space-evenly;
        align-items: flex-start;
      }

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 3.9rem;
      }
    }

    li {
      width: 64%;
      margin-inline: auto;

      @media (max-width: 1329px) {
        width: fit-content;
        justify-content: center;
        align-items: center;
      }
    }

    strong {
      font-size: 2.4rem;
      margin-bottom: 1.5rem;
      display: flow-root;
      font-weight: 700;
    }

    a {
      color: white;
      text-decoration: none;
    }

    p {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
}
