#expertise {
  margin-top: 0;

  margin-top: 0;

  .main-content {
    margin-top: 3.2rem;
    font-size: 1.8rem;

    a {
      display: block;
      width: fit-content;
      font-size: 2.1rem;
      font-family: "Cabin", sans-serif;
      font-weight: 700;
      padding: 2.5rem 3.3rem;
      transition: 0.1s ease-in-out;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      position: relative;
      margin-block: 2.8rem 5.6rem;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        content: "";
        width: 100%;
        height: 100%;
        border: 5px solid black;
      }

      &:hover {
        color: white;
        background: black;
      }
    }

    .semiBold {
      font-weight: 600;
      margin-left: 1em;
      margin-top: 1em;
    }

    .container {
      max-width: 52%;
    }

    h2 {
      margin-bottom: 1.3rem;
    }

    img {
      margin-block: 4.2rem 2.8rem;
      width: 188px;
      height: 36.27px;
      transform: rotate(180deg);
      margin-left: 5rem;
    }

    h5 {
      font-size: 1.8rem;
      font-weight: 700;
      font-family: "Exo", sans-serif;
      margin-block: 1em;
    }
  }

  .gray-background {
    background: #fcfcfc;
    padding-block: 4.1rem 0;
    display: flex;
    justify-content: end;
    margin-top: 9.7rem;
    gap: 2.4rem;
    position: relative;

    @media (max-width: 1329px) {
      flex-direction: column-reverse;
      padding-block: 0 8.3rem;
    }

    .txt {
      max-width: 698px;
      font-size: 1.8rem;

      @media (max-width: 1329px) {
        max-width: 98%;
        margin-inline: auto;
      }
    }

    h3 {
      font-size: 2.4rem;
      color: #e3775b;
      font-family: "Exo", sans-serif;
      margin-bottom: 2.1rem;

      &:not(:first-of-type) {
        margin-top: 2.8rem;
      }
    }

    .photo {
      width: 730px;
      height: 729px;
      position: relative;
      margin-top: -89px;
      align-self: start;
      object-fit: cover;

      @media (max-width: 1329px) {
        width: 427px;
        height: 503px;
        align-self: end;
        margin-top: -95px;
      }

      @media (max-width: 767px) {
        width: 325px;
        height: 503px;
        margin-top: -50px;
      }
    }

    .wave-yellow {
      position: absolute;
      right: 15%;
      bottom: -5%;
      transform: rotate(270deg);

      @media (max-width: 1329px) {
        right: unset;
        left: 10%;
        bottom: unset;
        top: 0;
      }

      @media (max-width: 767px) {
        left: 2%;
        top: 25%;
      }

      @media (max-width: 427px) {
        left: 1%;
        top: 20%;
      }
    }
  }

  .other-domaines {
    margin-top: 2em;
    .container {
      max-width: 1250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    h4 {
      font-size: 1.8rem;
      font-weight: 300;
    }

    .separator {
      width: 100%;
      align-self: center;
      border: 3px dotted black;
      border-bottom: none;
      margin-block: 1.5rem 2.5rem;
    }

    .domains-list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;

      img {
        margin-right: 0;
        display: block;
        opacity: 1;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        text-decoration: none;
      }

      strong {
        font-size: 2rem;
        font-weight: 400;
        font-family: "Cabin", sans-serif;
        text-align: center;
        display: inline-block;
        max-width: 156px;
        color: black;
      }
    }
  }
}
