#expertise {
  margin-top: 0;

  .wp-block-columns {
    background: #fcd647;
    padding-block: 7rem 3rem;
    padding-inline: 4.5rem;
    position: relative;
    margin-top: 9.9rem;

    h3 {
      color: #e3775b;
    }

    p:not(:first-of-type) {
      margin-top: 1em;
    }

    .wp-block-column {
      width: fit-content;
      
      p {
        text-transform: initial !important;
      }

      &:first-of-type {
        background: black;
        border-radius: 20px;
        width: 106px;
        height: 106px;
        transform: rotate(45deg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -13%;
        left: 0;
        right: 0;
        margin-inline: auto;

        @media (max-width: 635px) {
          top: -10%;
        }

        @media (max-width: 473px) {
          top: -8%;
        }

        @media (max-width: 394px) {
          top: -6%;
        }
      }
    }

    figure {
      width: fit-content;
      transform: rotate(135deg);
      min-width: 45px;
    }

    img {
      margin: 0 !important;
      min-width: 45px;
      min-height: 56px;
    }
  }

  .main-content {
    margin-top: 5rem;
    font-size: 1.8rem;
    
    figure + p {
      margin-bottom: 1em;
    }

    a {
      display: block;
      width: fit-content;
      font-size: 2.1rem;
      font-family: "Cabin", sans-serif;
      font-weight: 700;
      padding: 2.5rem 3.3rem;
      transition: 0.1s ease-in-out;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      position: relative;
      margin-block: 2.8rem 5.6rem;
      
      &::before {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: -25px;
        content: "";
        background: url(/orange-arrow.svg) no-repeat center center;
        background-size: contain;
        width: 44px;
        height: 44px;
        transition: 0.2s ease-in-out;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        content: "";
        width: 100%;
        height: 100%;
        border: 5px solid black;
      }

      &:hover {
        color: white;
        background: black;
        
        &::before {
          right: -40px;
        }
      }
    }
    
    p:not(.semiBold) {
      max-width: 838px;
    }

    .semiBold {
      font-weight: 600;
      margin-left: 2.5em;
      margin-top: 1em;
      max-width: 987px;
    }

    .container {
      max-width: min(75%, 1105px);
      padding: 0;

      @media (max-width: 767px) {
        max-width: 95%;
      }
    }
    
    .content p:first-of-type {
      text-transform: uppercase;
    }

    h2 {
      margin-bottom: 1.3rem;
      text-transform: uppercase;
    }

    img {
      margin-block: 4.2rem 3.8rem;
      width: 188px;
      height: 36.27px;
      transform: rotate(180deg);
      margin-left: 5rem;
    }

    h5 {
      font-size: 1.8rem;
      font-weight: 700;
      font-family: "Exo", sans-serif;
      margin-block: 1em;
    }
  }

  .gray-background {
    background: #fcfcfc;
    padding-block: 4.1rem 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 9.7rem;
    gap: 2.4rem;
    position: relative;

    ul {
      margin-left: 2em;
      font-size: 1.8rem;
      list-style-position: inside;

      @media (max-width: 750px) {
        margin-left: 0;
      }
    }

    @media (max-width: 1329px) {
      flex-direction: column-reverse;
      padding-block: 0 8.3rem;
    }

    .txt {
      max-width: 698px;
      font-size: 1.8rem;

      img {
        margin-inline: auto;
        margin-block: 2em;
      }

      @media (max-width: 1329px) {
        max-width: 98%;
        margin-inline: auto;
      }

      p:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    h3 {
      font-size: 2.4rem;
      color: #e3775b;
      font-family: "Exo", sans-serif;
      margin-bottom: 2.1rem;

      &:not(:first-of-type) {
        margin-top: 2.8rem;
      }
    }

    .photo {
      width: 730px;
      height: 729px;
      position: relative;
      margin-top: -89px;
      align-self: flex-start;
      object-fit: cover;

      @media (max-width: 1329px) {
        width: 427px;
        height: 503px;
        align-self: flex-end;
        margin-top: -95px;
      }

      @media (max-width: 767px) {
        width: 325px;
        height: 503px;
        margin-top: -50px;
      }
    }

    .wave-yellow {
      position: absolute;
      right: 15%;
      bottom: -5%;
      transform: rotate(270deg);

      @media (max-width: 1329px) {
        right: unset;
        left: 10%;
        bottom: unset;
        top: 0;
      }

      @media (max-width: 767px) {
        left: 2%;
        top: 25%;
      }

      @media (max-width: 427px) {
        left: 1%;
        top: 20%;
      }
    }
  }

  .other-domaines {
    margin-top: 2em;
    margin-bottom: 4.5rem;

    .container {
      max-width: 1250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    h4 {
      font-size: 1.8rem;
      font-weight: 300;
    }

    .separator {
      width: 100%;
      align-self: center;
      border: 3px dotted black;
      border-bottom: none;
      margin-block: 1.5rem 2.5rem;
    }

    .domains-list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;

      @media (max-width: 1150px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        width: 100%;
      }

      @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
      }

      img {
        margin-right: 0;
        display: block;
        opacity: 1;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        text-decoration: none;
      }

      strong {
        font-size: 2rem;
        font-weight: 400;
        font-family: "Cabin", sans-serif;
        text-align: center;
        display: inline-block;
        max-width: 156px;
        color: black;
      }
    }
  }

  .contact-banner {
    margin-bottom: 3.5rem;
  }
}
