main.loading-mail {
  height: 100vh;
  margin-top: 0;
}

.loading {
  height: 100%;
  margin-top: 0;
  .container {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #f9eee1;
    height: 100%;
  }

  .image-container {
    width: fit-content;
    height: fit-content;
    position: relative;

    img {
      position: relative;
      z-index: 1;
      animation: pulse 5s infinite ease-in-out;
    }
  }

  .background-pulse {
    display: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}
