#realisations {
  .banner {

    @media (max-width: 1186px) {
      min-height: auto;
    }

    @media (max-width: 934px) {
      .container {
        padding-inline: 0;
      }
    }
  }

  .top {
    margin-top: 5rem;

    .container {
      max-width: 75%;

      @media (max-width: 1186px) {
        max-width: 92%;
      }

      @media (max-width: 934px) {
        max-width: 100%;
      }
    }

    h1 {
      font-size: 5.4rem;
      font-family: "Cabin", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 0;
      line-height: 0.8;

      &::after {
        content: "";
        display: inline-block;
        background: black;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        margin-right: 3.5rem;
        margin-left: 0.5rem;
      }

      @media (max-width: 540px) {
        font-size: 4.4rem;
      }
    }

    .content {
      font-size: 1.8rem;
      padding: 0 6rem;
      font-weight: 300;

      @media (max-width: 652px) {
        padding-inline: 0;
      }
    }

    .accroche {
      font-size: 1.8rem;
      font-weight: 300;
      width: 75%;
      margin-inline: 6rem;
      margin-top: 4rem;

      @media (max-width: 652px) {
        margin-inline: auto;
        width: 100%;
      }

      a {
        color: black;
        text-decoration: none;
      }
    }

    .wave-radiant {
      transform: rotate(180deg);
      margin: 4rem 6rem;
    }
  }

  .acf-layouts {
    .container {
      max-width: 75%;

      @media (max-width: 1186px) {
        max-width: 92%;
      }

      @media (max-width: 934px) {
        max-width: 100%;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h3 {
      font-size: 2.4rem;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      margin-bottom: 3rem;
    }

    p {
      padding-inline: 6rem;
      font-size: 1.8rem;
      font-weight: 300;

      @media (max-width: 652px) {
        padding-inline: 0;
      }
    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  .contact-link {
    position: relative;
    margin-bottom: 9rem;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 2.1rem;
    text-transform: uppercase;
    padding: 2.5rem 3.3rem;
    transition: 0.1s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      border: 5px solid black;
    }

    svg {
      width: 44px;
      height: 44px;
      position: absolute;
      bottom: 0;
      right: -25px;
      z-index: 1;
      transition: 0.1s ease-in-out;

      g {
        fill: #e3775b;
      }
    }

    &:hover {
      color: white;
      background: black;

      svg {
        transform: translateX(12px);
      }
    }
  }

  .more-project {
    margin-bottom: 11rem;

    .container {
      max-width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @media (max-width: 1186px) {
        max-width: 92%;
      }

      @media (max-width: 934px) {
        max-width: 100%;
      }

      h3 {
        font-size: 1.8rem;
        font-weight: 300;
        padding: 0;
        margin: 0;
      }

      .separator {
        width: 100%;
        align-self: center;
        border: 3px dotted black;
        border-bottom: none;
        margin-block: 1.5rem 2.5rem;
      }
    }

    .projects-container {
      width: 100%;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      place-items: center;

      @media (max-width: 759px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 400px) {
        grid-template-columns: 1fr;
      }

      li {
        width: 100%;
        height: 100%;

        a {
          display: block;
          width: 100%;
          height: 100%;
          color: white;
          position: relative;

          img {
            width: 100%;
          }

          &:hover :is(h3, svg, .project-content) {
            opacity: 1;
          }

          &:hover .bg-overlay {
            opacity: 0.79;
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .bg-overlay {
            background: #0e5e9d;
            mix-blend-mode: multiply;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.2s ease-in-out;
            opacity: 0;
          }

          h3 {
            font-size: 2.8rem;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            position: relative;
            z-index: 2;
            transition: 0.2s ease-in-out;
            opacity: 0;
          }

          .project-content {
            font-size: 1.8rem;
            font-weight: 600;
            font-family: "Cabin", sans-serif;
            position: relative;
            z-index: 2;
            opacity: 0;
            transition: 0.2s ease-in-out;
          }

          svg {
            width: 50px;
            position: relative;
            z-index: 2;
            margin-block: 1.7rem;
            transition: 0.2s ease-in-out;
            opacity: 0;

            path {
              fill: white;
            }
          }
        }
      }
    }
  }
}
