#savoir {
  margin-top: 0;

  .list-savoir {
    margin-bottom: 10rem;
  }

  .agence .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .right {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @media (max-width: 1200px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 100% !important;
      }
    }

    .supperpo {
      position: absolute;
      top: 12%;
      left: -10%;
      height: fit-content;

      @media (max-width: 1757px) {
        left: -50%;
      }

      @media (max-width: 1416px) {
        left: -72%;
      }

      @media (max-width: 1302px) {
        left: -100%;
      }

      @media (max-width: 1238px) {
        left: -130%;
      }

      @media (max-width: 1200px) {
        position: relative;
        top: -8%;
        left: unset;
      }

      h2 {
        position: absolute;
        background: black;
        color: white;
        text-transform: uppercase;
        font-family: "Cabin", sans-serif;
        font-weight: 700;
        font-size: 5.6rem;
        padding: 5px 30px 30px 5px;
        line-height: 0.8;
        transform-origin: top left;
        transform: rotate(-90deg);
        z-index: 10;
        top: 50%;
        left: -5%;
        
        @media (max-width: 500px) {
          top: 0;
          left: -3%;
        }
      }

      .link {
        position: absolute;
        bottom: 5%;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;

        a {
          width: auto;
          background: black;
          color: white;
          display: inline-block;
          text-decoration: none;
          position: relative;
          font-family: "Cabin", sans-serif;
          font-size: var(--text-font-size);
          text-transform: uppercase;
          padding: 25px 33px 25px 33px;
          transition-duration: 0.1s;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            content: "";
            width: 100%;
            height: 100%;
            border: 5px solid #000;
          }

          &:hover {
            background: white;
            color: black;
          }
        }

        @media (max-width: 1200px) {
          position: relative;
          bottom: unset;
        }

        @media (max-width: 500px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }

      div {
        background: white;
        width: 720px;
        padding: 25px 0 135px 90px;
        font-size: var(--text-font-size);
        font-weight: 300;
        
        @media (max-width: 780px) {
          width: 100%;
          padding-bottom: 35px;
        }
        
        @media (max-width: 500px) {
          padding-inline: 0;
          padding-bottom: 4rem;
        }

        a {
          font-weight: 700;
          color: black;
          text-decoration: none;
        }
      }
    }

    .text-accomp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        max-width: 65%;
        margin-inline: auto;
        font-size: var(--text-font-size);
        font-weight: 500;
        color: black;
        position: relative;

        @media (max-width: 1757px) {
          position: absolute;
          align-items: center;
          display: flex;
          max-width: 925px;
          width: 925px;
          left: -156%;
          right: 0;
          padding: 40px;
          bottom: 100px;
          background: white;
        }

        @media (max-width: 1600px) {
          left: -200%;
        }

        @media (max-width: 1200px) {
          position: relative;
          bottom: unset;
          left: unset;
          right: unset;
          width: 100%;
        }
        
        @media (max-width: 500px) {
          padding-inline: 0;
        }

        &::before,
        &::after {
          content: "";
          background: url("/wave-radiant.gif") no-repeat center;
          background-size: contain;
          top: 0;
          bottom: 0;
          margin-block: auto;
          width: 238px;
          height: 37px;
          position: absolute;
          transform: rotate(90deg);

          @media (max-width: 1200px) {
            display: none;
          }
        }

        &::before {
          left: -30%;

          @media (max-width: 1757px) {
            left: -150px;
          }
        }

        &::after {
          right: -30%;
          transform: rotate(-90deg);

          @media (max-width: 1757px) {
            right: -150px;
          }
        }

        a {
          font-weight: 700;
          text-decoration: none;
          color: black;
        }
      }

      .link-equipe {
        margin-block: 1em 2em;
        display: flow-root;
        align-self: flex-end;
        margin-right: 5em;
        text-decoration: none;
        color: black;
        font-family: "Cabin", sans-serif;
        font-size: var(--text-font-size);
        text-transform: uppercase;
        padding: 25px 33px 25px 33px;
        transition: 0.1s ease-in-out;
        position: relative;

        @media (max-width: 350px) {
          align-self: flex-start;
          padding: 25px 17px;
        }

        svg {
          width: 44px;
          height: 44px;
          position: absolute;
          bottom: 0;
          right: -25px;
          z-index: 1;
          transition: 0.1s ease-in-out;

          g {
            fill: #e3775b;
          }
        }

        &:hover {
          color: white;
          background: black;

          svg {
            transform: translateX(12px);
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          border: 5px solid black;
        }
      }
    }
  }

  .list-savoir {
    .container {
      background: #e7e7e7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 95.5%;
      margin-inline: auto;
      padding-top: 85px;
    }

    h2 {
      font-size: calc( 36px + (56 - 36) * ((100vw - 320px) / (1920 - 320)) );
      font-weight: 700;
      color: black;
      background: white;
      text-transform: uppercase;
      font-family: "Cabin", sans-serif;
      line-height: 0.8;
      margin-bottom: 2.5rem;
      padding: 2.5rem 1rem 3rem 2rem;

      &::after {
        content: "";
        background: black;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        margin-right: 3.5rem;
        margin-left: 0.5rem;
        display: inline-block;
      }
      
      @media (max-width: 500px) {
        max-width: 91%;
        
        &::after {
          display: none;
        }
      }
    }

    .sub-title {
      margin-top: 0;
      text-align: center;
      font-size: var(--text-font-size);
      font-weight: 300;
      width: 51%;
      margin-bottom: 5rem;
      color: black;
      font-family: "Exo", sans-serif;
      font-style: normal;
      
      @media (max-width: 768px) {
        width: 100%;
      }

      @media (max-width: 650px) {
        text-align: left;
      }
    }

    .savoir-listing {
      display: grid;
      grid-template-columns: repeat(2, 630px);
      column-gap: 8rem;
      row-gap: 5rem;
      place-items: center;

      @media (max-width: 1757px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 1200px) {
        justify-items: center;
        align-items: flex-start;
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    li {
      width: 100%;
      display: flex;
      gap: 3rem;

      @media (max-width: 1200px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      h3 {
        font-size: 2rem;
        font-weight: 600;
        font-family: "Cabin", sans-serif;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      .listing-texte {
        font-size: 1.6rem;
        font-family: "Exo", sans-serif;
        font-style: normal;
        font-weight: 300;
      }

      .listing-exemple {
        font-size: 1.4rem;
        font-family: "Exo", sans-serif;
        font-style: normal;
        font-weight: 700;

        .exemple {
          color: #e3775b;
        }
      }

      img {
        max-width: 116px;
        max-height: 150px;
        width: 100%;
        height: 100%;
      }

      a {
        padding-block: 1rem;
        padding-left: 3.5rem;
        border: none;
        display: inline-block;
        margin-bottom: 0.5rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.7rem;
        background: linear-gradient(-45.9deg, #8670cc, 50%, #ff5e81);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        align-self: flex-start;
        position: relative;
        margin-top: 3rem;

        &::before {
          content: "";
          background: url("/show-more.svg") no-repeat center;
          width: 3rem;
          height: 3rem;
          position: absolute;
          top: 8%;
          left: 0;
        }
      }
    }
  }

  .classic-btn {
    display: inline-block;
    color: black;
    text-decoration: none;
    position: relative;
    font-family: "Cabin", sans-serif;
    font-size: var(--text-font-size);
    text-transform: uppercase;
    padding: 2.5rem 3.3rem;
    transition: 0.1s ease-in-out;

    transform: translateY(50px);
    background: white;

    svg {
      width: 44px;
      height: 44px;
      position: absolute;
      bottom: 0;
      right: -25px;
      z-index: 1;
      transition: 0.1s ease-in-out;

      g {
        fill: #e3775b;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      border: 5px solid black;
    }

    &:hover {
      background: black;
      color: white;

      svg {
        transform: translateX(12px);
      }
    }
  }

  .bottom {
    margin-top: 9.5rem;
    max-height: 600px;
    display: flex;
    justify-content: flex-end;
    top: -3rem;

    @media (max-width: 983px) {
      max-height: 100%;
    }

    @media (max-width: 768px) {
      margin-top: 4.3rem;
    }

    .container {
      max-width: 95.5%;
      margin-inline: auto;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media (max-width: 1636px) {
        padding: 0 !important;

        img {
          max-width: 636px;
          width: 45%;
          max-height: 888px;
          height: auto;
          aspect-ratio: auto;
          z-index: 88;
          
          @media (max-width: 789px) {
            width: 65%;
            margin-bottom: -13rem;
          }
        }
      }

      @media (max-width: 983px) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      @media (max-width: 550px) {
        img {
          width: 100%;
        }
      }
    }

    img {
      @media (max-width: 983px) {
        position: relative;
        z-index: 100;
      }
    }

    .bottom-text {
      position: absolute;
      z-index: 5;
      top: 10%;
      left: 31%;
      width: 54%;
      background: white;
      padding: 2rem 5rem;
      font-size: var(--text-font-size);
      font-weight: 300;

      @media (max-width: 1636px) {
        width: 70%;
        left: 25%;
      }

      @media (max-width: 1419px) {
        width: 85%;
        left: 5%;
      }

      @media (max-width: 1200px) {
        top: 25%;
      }

      @media (max-width: 1054px) {
        width: 96%;
        left: 1%;
      }

      @media (max-width: 983px) {
        position: initial;
        width: 100%;
        left: unset;
        top: unset;
      }

      @media (max-width: 550px) {
        padding-inline: 0;
      }
    }
  }

  .bottom-blue {
    background: #08243a;
    color: white;
    height: 620px;

    @media (max-width: 1200px) {
      background: #08243a;
      height: 100%;
      position: relative;
    }

    .container {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 56%;
      margin-right: 7em;
      padding-bottom: 3em;

      @media (max-width: 1636px) {
        padding: 0 !important;
      }

      @media (max-width: 1200px) {
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      .texte {
        font-size: var(--text-font-size);
        font-weight: 300;
        max-width: 85%;
        position: relative;

        @media (max-width: 1636px) {
          max-width: 74%;
        }

        @media (max-width: 1454px) {
          max-width: 85%;
        }

        @media (max-width: 1200px) {
          max-width: 80%;
          padding: 18.9rem 3rem 6rem 9.3rem;
        }

        @media (max-width: 789px) {
          max-width: 95%;
          padding-left: 3rem;
          padding-top: 15rem;
        }

        @media (max-width: 550px) {
          padding: 5rem;
          padding-inline: 2rem;
        }

        img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin-block: auto;
          transform: rotate(90deg);

          @media (max-width: 789px) {
            display: none;
          }

          &:first-of-type {
            left: -7em;
          }

          &:last-of-type {
            right: -7em;
          }
        }
      }
    }
  }
}
