#blog.search-page {
  .hero-banner.filtered-hero {
    h1 {
      font-size: 6.3rem;
      line-height: calc(84 / 63);
      font-weight: 700;
      font-family: "Exo", sans-serif;
      position: relative;
      display: flex;
      flex-direction: column;
      background: transparent;
      border: none;
      border-radius: 0;
      color: black;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        background: url("/vague-degrade.svg") no-repeat center;
        background-size: cover;
        width: 188px;
        height: 36px;
        bottom: 36px;
        left: calc(100% - 40px);
      }

      @media (max-width: 859px) {
        font-size: 2.2rem;
      }

      span {
        color: #fcd647;
      }
    }
  }
}
