#single {
  margin-top: 0;

  .hero-banner {
    background: #f9eee1;
    padding-block: 3rem;
  }

  .breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    color: #fc5e82;
    font-weight: 400;
    font-family: "Exo", sans-serif;
    line-height: calc(21 / 16);
    margin-bottom: 5rem;

    @media (max-width: 824px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: flex-start;
      align-items: center;
      font-size: 1.4rem;
    }

    a {
      color: black;
      text-decoration: none;
      font-weight: 400;
      font-family: "Exo", sans-serif;
      font-size: 1.6rem;
      transition: 0.3s ease-in-out;

      @media (max-width: 824px) {
        font-size: 1.4rem;
      }

      &::after {
        content: ">";
        font-size: 1.6rem;
        padding-inline: 1em;
      }

      &:hover {
        color: #fc5e82;
      }
    }
  }

  h1 {
    font-size: 6.3rem;
    line-height: calc(84 / 63);
    font-weight: 700;
    font-family: "Exo", sans-serif;
    max-width: 750px;
    position: relative;
    margin-block-end: 2rem;

    @media (max-width: 860px) {
      font-size: 2.2rem;
    }
  }

  .title {
    display: flex;
    justify-content: flex-start;

    img {
      align-self: flex-end;
      padding-bottom: 3rem;

      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  article .blog-container {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    column-gap: 4.3rem;
    background: white;
    padding: 3.1rem;
    position: relative;
    margin-top: -2rem;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  }

  .exo-light-18 {
    font-size: 2rem;
    font-weight: 300;
    font-family: "Exo", sans-serif;
  }

  h2 {
    font-size: 2.8rem;
    white-space: normal;
    font-weight: 600;
    font-family: "Exo", sans-serif;
    margin-block: 3rem 2rem;
    text-transform: uppercase;
    padding: 0.5rem 0 3rem 0.5rem;
  }

  ul {
    margin-left: 3rem;

    li {
      margin-top: 1rem;
    }
  }

  article {
    a {
      color: black;
      text-decoration: none;
      font-weight: 700;
    }
  }

  .thumbnail {
    margin-bottom: 2rem;
  }

  .author {
    .blog-container {
      display: flex;
      align-items: flex-start;
      margin-bottom: 5.6rem;
      flex-direction: row;

      @media (max-width: 799px) {
        flex-direction: column;
      }
    }

    .author-card-content {
      padding: 4.4rem 5rem 4rem 12rem;
      width: 100%;
      margin-left: -10.6rem;
      border-radius: 0.8rem;
      background: #fcd647;

      @media (max-width: 799px) {
        margin-left: auto;
        margin-top: -9rem;
        padding: 11rem 2rem 3rem 2rem;
      }
    }

    img {
      height: 292px;
      width: 254px;
      align-self: auto;
      margin-top: 1.1rem;
      position: relative;
      z-index: 2;

      @media (max-width: 1023px) {
        height: 200px;
        width: 174px;
      }

      @media (max-width: 799px) {
        height: 150px;
        width: 130px;
        align-self: center;
      }
    }

    .author-card-title {
      font-family: "Exo", sans-serif;
      font-size: 2.5rem;
      line-height: calc(33 / 25);
      font-weight: 700;
    }

    .author-card-subtitle {
      font-size: 5.3rem;
      line-height: calc(54 / 53);
      font-weight: 700;
      margin-bottom: 1.5rem;

      @media (max-width: 799px) {
        font-size: 3rem;
      }
    }

    .author-card-job {
      font-family: "Exo", sans-serif;
      font-size: 1.9rem;
      font-weight: 700;
      color: white;
      margin-bottom: 1.5rem;
    }

    .author-card-job-content {
      font-size: 1.9rem;
      font-family: "Exo", sans-serif;
      line-height: calc(26 / 19);
      font-weight: 400;
      margin-bottom: 3.5rem;
    }

    .btn-container {
      @media (max-width: 799px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        text-align: center;
      }
    }

    .btn {
      font-size: 2.6rem;
      font-family: "Exo", sans-serif;
      line-height: calc(35 / 26);
      font-weight: 700;
      border: 1px solid black;
      padding: 1.5rem 2rem;
      text-decoration: none;
      color: black;
      border-radius: 37px;
      transition: 0.2s ease-in-out;

      @media (max-width: 799px) {
        font-size: 1.8rem;
      }

      &:first-child {
        margin-right: 1.2rem;

        @media (max-width: 799px) {
          margin-right: 0;
        }
      }

      &:hover {
        color: #fcd647;
        background: black;
      }
    }
  }
}

.blog-container {
  width: min(80%, 1450px);
  margin-inline: auto;

  @media (max-width: 580px) {
    width: 95%;
    padding-inline: 2rem !important;
  }
}

.blog-newsletter {
  .blog-container {
    padding: 2.4rem 28rem 3.6rem;
    border-radius: 9.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(134, 112, 204, 1) 0%,
        rgba(255, 94, 129, 1) 100%
    );
    text-align: center;

    @media (max-width: 1200px) {
      padding: 2.4rem 2rem 3.6rem;
      border-radius: 37px;
    }
  }

  h2 {
    font-size: 5.3rem;
    font-weight: 700;
    color: white;
    text-transform: none;
    margin-bottom: 5.6rem;
    position: relative;
    font-family: "Cabin", sans-serif;
    padding: 0.5rem 0 3rem 0.5rem;
    line-height: 0.8;

    @media (max-width: 1200px) {
      font-size: 2.5rem;
    }

    &::before {
      position: absolute;
      content: "";
      width: 104px;
      height: 20px;
      background: url("/vague-white.svg") no-repeat center;
      background-size: cover;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    font-size: 1.6rem;
    line-height: calc(21 / 16);
    color: white;
    font-family: "Exo", sans-serif;
    margin-bottom: 2.6rem;
  }
}

.blog-part-agency {
  margin-top: 8.3rem;

  .blog-container {
    h2 {
      line-height: 1;
      text-transform: none;
      display: inline-block;
      font-family: "Cabin", sans-serif;
      font-weight: 700;
      font-size: 5.6rem;
      background: transparent;
      padding: 0.5rem 0 3rem 0.5rem;

      @media (max-width: 467px) {
        line-height: calc(40 / 30);
        font-size: 3.5rem;
      }

      span {
        color: #fcd647;
        display: inline-block;
      }
    }
  }

  .agency-content {
    font-size: 2rem;
    font-weight: 300;
    line-height: calc(27 / 20);
    font-family: "Exo", sans-serif;
    margin-bottom: 1.5em;
  }

  .agency-bold {
    font-size: 2rem;
    font-weight: 600;
    line-height: calc(27 / 20);
    font-family: "Exo", sans-serif;
    margin-bottom: 6.1rem;
  }

  .agency-location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;

    @media (max-width: 700px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .btn {
    text-decoration: none;
    font-size: 2.6rem;
    line-height: calc(35 / 26);
    font-weight: 700;
    color: white;
    background: black;
    font-family: "Exo", sans-serif;
    padding: 1.5rem 2rem;
    height: auto;
    border-radius: 3.5rem;
    border: 2px solid black;
    transition: 0.2s ease-in-out;

    @media (max-width: 750px) {
      text-align: center;
    }

    &:hover {
      background: white;
      color: black;
    }
  }
}

.blog-footer {
  margin-top: 9.5rem;
}

#single .same-theme {
  h2 {
    font-size: 5.3rem;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    padding: 0.5rem 0 3rem 0.5rem;
    line-height: 0.8;

    @media (max-width: 450px) {
      font-size: 3.5rem;
    }

    span {
      color: #fcd647;
    }

    @media (max-width: 1200px) {
      br {
        display: none;
      }
    }
  }

  .card-content {
    a {
      text-decoration: none;
      color: black;
      font-size: 2.5rem;
      margin-block: 1.5rem 1rem;
      font-weight: 600;
      font-family: "Cabin", sans-serif;
      display: flow-root;
      line-height: 1;
      transition: 0.2s ease-in-out;

      &:hover {
        text-decoration: underline;
      }

      img {
        @media (max-width: 1200px) {
          width: 100%;
        }
      }
    }

    .post-cateogry {
      font-size: 1.8rem;
      line-height: calc(24 / 18);
      font-family: "Exo", sans-serif;
      color: #fc5e82;
      margin-bottom: 1rem;
      font-weight: 300;
      margin-top: 3rem;
    }

    .card-excerpt {
      line-height: calc(21 / 16);
      font-family: "Exo", sans-serif;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    .card-date {
      margin-bottom: 4rem;
      font-size: 1.5rem;
      line-height: calc(20 / 15);
      font-family: "Exo", sans-serif;
      font-weight: 700;
      color: #b4b4b4;
    }
  }
}
