#template-realisations {
  margin-top: 0;

  .filter-item {
    border-top: 1px solid #dadada;
    padding: 12px 0;
    cursor: pointer;

    &.active {
      color: #e3775b;
    }
  }

  .openList {
    pointer-events: none;
    padding-bottom: 2.5rem;
    position: relative;
    margin-right: 1.5rem;
    transition: 0.2s ease-in-out;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 6.5px 0 6.5px;
      border-color: #e3775b transparent transparent transparent;
      position: absolute;
      top: 8px;
      right: -15px;
      transition: 0.2s ease-in-out;
    }
  }

  .resp-filters {
    cursor: pointer;
    display: block;
    align-self: center;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-size: 1.55rem;
    text-transform: uppercase;
    height: 65px;
    border: 5px solid black;
    padding: 1.8rem 2.5rem 1.3rem;
    overflow: hidden;
    position: relative;
    z-index: 30;
    background: white;
    transition: 0.2s ease-in-out;
    color: black;

    &.active {
      height: 360px;
      margin-bottom: -295px;

      .openList::after {
        transform: rotate(180deg);
      }
    }
  }

  .container {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    @media (max-width: 1000px) {
      padding-inline: 0;
    }

    .logo {
      margin-top: 10rem;
    }

    .vague {
      width: 67px;
      height: 11px;
      margin-block: 4rem 2.5rem;
      transform: rotate(180deg);

      svg {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      font-size: 5.4rem;
      font-weight: 700;
      font-family: "Cabin", sans-serif;
      text-align: center;
    }

    .sub-title {
      font-size: 2.4rem;
      font-weight: 600;
      font-style: italic;
      text-align: center;
      margin-bottom: 7.5rem;
      font-family: "Cabin", sans-serif;
    }
  }

  .content-container {
    margin-top: 5rem;

    .categories-filter {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 7rem;

      @media (max-width: 1200px) {
        gap: 3rem;
      }

      button {
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        font-size: 2rem;
        font-weight: 400;
        font-family: "Cabin", sans-serif;

        .wave {
          transform: rotate(180deg);
        }

        &:hover,
        &.active {
          img:first-child {
            opacity: 0;
          }

          img:last-child {
            opacity: 1;
          }
        }
      }
    }

    .icon {
      position: relative;
      width: 70px;
      height: 80px;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        transition: 0.2s ease-in-out;

        &:last-child {
          opacity: 0;
        }
      }
    }
  }

  .content {
    color: black;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    width: 75%;
    margin-bottom: 6rem;

    @media (max-width: 550px) {
      width: 100%;
    }
  }

  .projects-container {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    place-items: center;
    margin-block: 1.5rem 3.5rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    li {
      width: 100%;
      height: 100%;

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: white;
        position: relative;

        &:hover :is(h3, svg, .project-content) {
          opacity: 1;
        }

        &:hover .bg-overlay {
          opacity: 0.79;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bg-overlay {
          background: #0e5e9d;
          mix-blend-mode: multiply;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.2s ease-in-out;
          opacity: 0;

          @media (max-width: 768px) {
            opacity: 0.79 !important;
          }
        }

        h3 {
          font-size: 2.8rem;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 700;
          position: relative;
          z-index: 2;
          transition: 0.2s ease-in-out;
          opacity: 0;

          @media (max-width: 768px) {
            opacity: 1;
          }
        }

        .project-content {
          font-size: 1.8rem;
          font-weight: 600;
          font-family: "Cabin", sans-serif;
          position: relative;
          text-align: center;
          z-index: 2;
          opacity: 0;
          transition: 0.2s ease-in-out;

          @media (max-width: 768px) {
            opacity: 1;
          }
        }

        svg {
          width: 50px;
          position: relative;
          z-index: 2;
          margin-block: 1.7rem;
          transition: 0.2s ease-in-out;
          opacity: 0;

          @media (max-width: 768px) {
            opacity: 1;
          }

          path {
            fill: white;
          }
        }
      }
    }
  }

  .contact-us {
    margin-bottom: 7rem;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-size: 2.1rem;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        color: black;
        position: relative;
        font-family: "Cabin", sans-serif;
        padding: 2.5rem 3.3rem;
        transition: 0.1s ease-in-out;

        svg {
          width: 44px;
          height: 44px;
          position: absolute;
          bottom: 0;
          right: -25px;
          z-index: 1;
          transition: 0.1s ease-in-out;

          g {
            fill: #e3775b;
          }
        }

        &:hover {
          background: black;
          color: white;
          transform: translateY(0);

          svg {
            transform: translateX(12px);
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          border: 5px solid black;
        }
      }
    }
  }
}
